* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.header {
    padding: 0;
}

.container {
    display: table;
    margin: 0 auto;
    border-spacing: 10px 10px;
    background-color: #ccced1;
    border-radius: 3px;
}

.leftArea, .mainArea, .rightArea, .additionalArea {
    display: table-cell;
    width: 300px;
}

.leftArea-list {
    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

li a {
    text-decoration: none;
    display: block;
    color: #000000;
    border-bottom: solid 1px #7a7a7a;
    padding: 8px;
}

li a:hover {
    background-color: #215f93;
    color: #ffffff;
}

input, textarea, select {
    border: 1px solid #ccc;
    min-height: 30px;
    outline: none;
}

input:disabled, textarea:disabled {
    border: none;
    background: #ccced1;
    outline: none;
    color: black;
}

.mainArea, input, select {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 280px;
}

.additionalArea, input, select {
    margin-bottom: 15px;
    margin-top: 5px;
    width: 280px;
}

textarea {
    margin-bottom: 15px;
    margin-top: 5px;
    height: 200px;
    width: 280px;
}

label {
    display: block;
}

button {
    border-radius: 3px;
    background-color: #215f93;
    color: #ffffff;
    padding: 5px;
}

input, select {
    border-radius: 3px;
}

#searchKey {
    border-radius: 3px;
    width: 300px;
    margin: 0;
}

#top-panel {
    border-radius: 3px;
    margin: 10px;
    height: 50px;
    background-color: #215f93;
}

#top-panel-search {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

#top-panel-account {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

#bottom-panel {
    border-spacing: 10px 10px;
}

#bottom-panel-link {
    display: flex;
    justify-content: center;
}

.bottom-link, .bottom-link:hover, .bottom-link:active, .bottom-link:visited {
    color: white;
}

.top-panel-user {
    color: #ffffff;
}

.top-panel-search {
    margin: 0;
}

.top-panel-icon {
    margin: 0;
}

#notification {
    font-style: italic;
    color: red;
}

#wrapper {
    margin: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 150px));
}

.box {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    font-size: 150%;
    text-decoration: none;
}

.box:hover {
    background-color: #dddfe2;
}

a {
    text-decoration: none;
}

#modal-form {
    display: inline-block;
    padding: 5px 5px 5px 70px;
    width: 650px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    vertical-align: middle;
}

#modal-form input:disabled, #modal-form textarea:disabled {
    background: white;
}

#modal-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#modal-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: #202948;
    opacity: 0.3;
}

.icon {
    width: 30px;
    height: 30px;
}