* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

input, textarea, select {
    border-radius: 3px;
    border: 1px solid #ccc;
    min-height: 30px;
    outline: none;
}

textarea {
    resize: none;
    width: 100%;
}

label {
    display: block;
}

a {
    text-decoration: none;
}

input {
    padding: 5px;
    width: 250px;
}

button {
    background-color: #215f93;
    color: #ffffff;
    padding: 5px;
    width: 150px;
}

button:hover {
    opacity: 0.8;
}

input:disabled, textarea:disabled {
    border: none;
    background: white;
    outline: none;
    color: black;
}

.header {
    padding: 0;
}

.container {
    display: table;
    height: 90%;
    width: 100%;
    margin: 0;
    border-spacing: 10px 10px;
}

.leftArea, .rightArea, .additionalArea {
    display: table-cell;
    width: 20%;
}

.mainArea {
    display: table-cell;
    width: 60%;
}

.centralArea {
    display: table-cell;
    width: 80%;
}

.leftArea-list {
    overflow-y: auto;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

li a {
    text-decoration: none;
    display: block;
    color: #000000;
    border-bottom: solid 1px #7a7a7a;
    padding: 8px;
}

li a:hover {
    background-color: #215f93;
    color: #ffffff;
}

#searchKey {
    border-radius: 3px;
    width: 300px;
    margin: 0;
}

.top-panel {
    background-color: #215f93;
    height: 5%;
}

#top-panel-search {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.top-panel-account {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

#bottom-panel {
    border-spacing: 10px 10px;
}

.bottom-panel-link {
    display: flex;
    justify-content: center;
}

.bottom-link, .bottom-link:hover, .bottom-link:active, .bottom-link:visited {
    color: white;
}

.top-panel-user {
    color: #ffffff;
}

.top-panel-search {
    margin: 0;
}

.top-panel-icon {
    margin: 0;
}

#notification {
    font-style: italic;
    color: red;
}

#wrapper {
    width: 70%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 250px));
}

.box {
    background-color: #ccced1;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
}

.leftMenu {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 30%;
}

.box:hover {
    background-color: #dddfe2;
}

.icon {
    width: 30px;
    height: 30px;
}

#orderTable th, #orderTable td {
    border: solid 1px black;
    text-decoration: none;
    color: #000000;
}

#orderTable td a, #orderTable td a:hover {
    text-decoration: none;
    color: #000000;
    display: block;
    padding: 3px;
}

.orderTableRow:hover {
    background-color: #8f8f8f;
}

#addProduct {
    border-radius: 3px;
    background-color: #215f93;
    color: #ffffff;
    padding: 5px;
    margin: 0;
    width: 340px;
}

.modal-form {
    display: inline-block;
    padding: 5px;
    width: 80%;
    height: 80%;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    vertical-align: middle;
}

.modal-form input:disabled, .modal-form textarea:disabled {
    background: white;
}

#modal-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}

#modal-form-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: #202948;
    opacity: 0.3;
}

.modal-table {
    width: 100%;
    height: 100%;
}

.modal-table-item {
    width: 100%;
    text-align: left;
}

/* The Close Button (x) */
.close {
    position: fixed;
    top: 10%;
    right: 10%;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
