<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
        PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection-->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/store</property>
        <!--<property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>-->

        <!-- Output hibernate queries -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <!-- Entities -->
        <mapping class="com.globallogic.store.domain.user.User"/>
        <mapping class="com.globallogic.store.domain.user.Authority"/>
        <mapping class="com.globallogic.store.domain.product.Product"/>
        <mapping class="com.globallogic.store.domain.order.Bill"/>
        <mapping class="com.globallogic.store.domain.order.Order"/>
        <mapping class="com.globallogic.store.domain.order.OrderItem"/>

    </session-factory>
</hibernate-configuration>