<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- DAO beans -->
    <bean name="userDao" class="com.globallogic.store.dao.GenericDao">
        <constructor-arg value="com.globallogic.store.domain.user.User"/>
    </bean>

    <bean name="productDao" class="com.globallogic.store.dao.GenericDao">
        <constructor-arg value="com.globallogic.store.domain.product.Product"/>
    </bean>

    <bean name="orderDao" class="com.globallogic.store.dao.GenericDao">
        <constructor-arg value="com.globallogic.store.domain.order.Order"/>
    </bean>

    <bean name="orderItemDao" class="com.globallogic.store.dao.GenericDao">
        <constructor-arg value="com.globallogic.store.domain.order.OrderItem"/>
    </bean>
</beans>