<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http pattern="/api/auth" security="none"/>

    <http pattern="/api/**" entry-point-ref="tokenAuthenticationEntryPoint" create-session="stateless">
        <csrf disabled="true"/>
        <custom-filter before="FORM_LOGIN_FILTER" ref="tokenAuthenticationFilter"/>
        <intercept-url pattern="/api/products/**" method="GET" access="permitAll()"/>
    </http>

    <beans:bean id="tokenAuthenticationFilter" class="com.globallogic.store.security.core.TokenAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationSuccessHandler" ref="tokenAuthenticationSuccessHandler"/>
        <beans:property name="tokenUtil" ref="tokenUtil"/>
    </beans:bean>

    <beans:bean id="tokenAuthenticationEntryPoint" class="com.globallogic.store.security.core.TokenAuthenticationEntryPoint"/>

    <beans:bean id="tokenAuthenticationSuccessHandler" class="com.globallogic.store.security.core.TokenAuthenticationSuccessHandler"/>

    <beans:bean id="tokenUtil" class="com.globallogic.store.security.jwt.TokenUtil"/>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="loginUserService"/>
    </authentication-manager>

</beans:beans>