<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <http pattern="/api/signin" security="none"/>
    <http pattern="/api/signup" security="none"/>

    <http pattern="/**" entry-point-ref="authenticationEntryPoint" create-session="stateless">
        <csrf disabled="true"/>
        <custom-filter before="FORM_LOGIN_FILTER" ref="authenticationFilter"/>
    </http>

    <beans:bean id="authenticationFilter" class="com.globallogic.store.security.spring.AuthenticationFilter">
       <!-- <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler"/>-->
    </beans:bean>

    <beans:bean id="authenticationEntryPoint" class="com.globallogic.store.security.spring.UnauthorizedHandler"/>

    <beans:bean id="authenticationSuccessHandler" class="com.globallogic.store.security.spring.AuthenticatedHandler"/>

    <beans:bean id="authenticationProvider" class="com.globallogic.store.security.spring.AuthenticationProvider">
        <!--<beans:constructor-arg ref="tokenUtil"/>-->
    </beans:bean>

    <beans:bean id="tokenUtil" class="com.globallogic.store.security.jwt.TokenUtil"/>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="loginUserService"/>
    </authentication-manager>

</beans:beans>